---
import { Picture } from "@astrojs/image/components";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  textStyle?: string;
  linkToPDF?: string;
  linkToMenu?: string;
}

const { title, description, image, textStyle, linkToPDF, linkToMenu } =
  Astro.props;
---

<!-- An image that, on hover, shows a description with white text and black background, and a small text in front of the image to show what is the description about before hovering -->
<div class="service-container">
  <Picture
    src={image}
    alt={title}
    class="image"
    sizes="(max-width: 576px) 189px, (max-width: 992px) 250px, (max-width: 1920px) 450px, 600px"
    widths={[189, 250, 400, 450, 600]}
    aspectRatio="16:12"
    quality={80}
    format="webp"
  />
  <h5 class="title">{title} <i class="bi bi-chevron-right"></i></h5>
  <div class="overlay">
    <div class="text-container">
      <div class="text" set:html={description} style={textStyle} />

      {
        (linkToPDF || linkToMenu) && (
          <div class="button-group">
            {linkToMenu && (
              <a
                href={linkToMenu}
                target="_blank"
                class="btn btn-text-primary btn-menu-on-site"
              >
                Menu on site
              </a>
            )}
            {linkToPDF && (
              <a
                href={linkToPDF}
                target="_blank"
                class="btn btn-text-primary btn-menu-on-pdf"
              >
                Menu on PDF
              </a>
            )}
          </div>
        )
      }
    </div>
  </div>
</div>

<style lang="scss">
  @import "../assets/styles/_colors.scss";

  /* The container */
  .service-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* The image */
  .image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 47px;
    border: 1px solid $primary;
  }

  .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow-y: auto;
    border-radius: 47px;
    flex: 1;
  }

  /* When you mouse over the container, fade in the overlay title */
  .service-container:hover .overlay {
    height: 100%;
  }

  /* The text - also needs to be positioned in the middle of the container/overlay */
  .text {
    color: white;
    font-size: 1rem;
    // position: absolute;
    padding: 20px;
    top: 50px;
  }

  .text-container {
    flex: 1;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 1rem;
  }

  .btn-menu-on-site {
    color: $primary;
    margin-left: 20px;
    font-weight: bold;
  }

  .btn-menu-on-pdf {
    color: rgb(255, 56, 56);
    margin-right: 20px;
    font-weight: bold;
  }
</style>
