---
import RestaurantMenu from "../../classes/RestaurantMenu";
import { t } from "i18next";
import NYCRestaurantMenu from "../../data/restaurantWeekDinnerMenu";

const menu = NYCRestaurantMenu;
---
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
</head>

<div class="restaurant-menu-group">
  <h2>{menu.name}</h2>

  <div class="row justify-content-center">
    <div class="col-md-4">
        {
            menu.categories?.map((category) => (
              <div class="text-center">
                <h3 >{category.name}</h3>
                <hr />
                <ul>
                  {category.subCategory?.map((subCat) => (
                    <li>
                        <p class="dish-categories text-start d-flex justify-content-center align-items-center">
                            {subCat.name}
                            { subCat.price && <span class="dish-categories me-3">${subCat.price}</span>}
                        </p>
                        {
                            subCat.dishes &&
                            subCat.dishes?.map((dish) => (
                                <ol>
                                    <li>
                                        <p class="dish">{dish.name}</p>
                                    </li>
                                </ol>
                            ))
                        }
                    </li>
                  ))}
                </ul>
                <br />
              </div>
            ))
          }
          <h3 class="price">$60 PER PERSON +TAX</h4>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../../assets/styles/_colors.scss";

  body{
    background-color: black;
  }

  .restaurant-menu-group {
    padding: 15px;
    background-color: black;

    .sub-categories{
      font-size: 1.25rem;
      color: white;
      font-weight: bold;
    }

    .only-kids{
      color: white;
      font-weight: bold;
    }

    .btn{
        color: white;
    }

    .price {
      color: $primary;
      text-align: center;
    }

    .dish-categories{
      font-size: 1rem;
      color: $primary;
      font-weight: bold;
    }

    .dish{
      font-size: 1rem;
      color: white;
      font-weight: 300;
    }

    h2 {
      font-size: 2.5rem;
      text-align: center;
    }

    h3 {
      font-size: 1.75rem;
      margin-top: 20px;
    }

    h2,
    h3 {
      color: white;
      font-weight: bold;
    }

    hr {
      margin-left: 0;
      border-color: $primary;
      opacity: 1;

      // If lg screen, max-width is 450
      @media (min-width: 992px) {
        max-width: 700px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 15px;

        span {
          display: block;
          color: white;

          &:first-child {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 15px;

        span {
          display: block;
          color: white;
          font-size: 10px;

          &:first-child {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
</style>
