---
import { Image } from "@astrojs/image/components";
import giftCard from "../../assets/images/gift-cards/giftcard.jpg";
import gc100 from "../../assets/images/gift-cards/100-gc.png";
import gc200 from "../../assets/images/gift-cards/200-gc.png";
import gc300 from "../../assets/images/gift-cards/300-gc.png";
import gc400 from "../../assets/images/gift-cards/400-gc.png";
import { t } from "i18next";
---

<section class="container text-center" id="gift-cards-section">
  <h1>{t("gift-cards")}</h1>
  <p>
    {t("gift-cards.description")}<br />
    <a class="text-primary" href="/giftcard.pdf" target="_blank"
      >{t("terms-and-conditions")}</a
    >
    <br />
    <span class="fw-bold">
      {t("stripe-instant-confirmation")}
    </span>
  </p>

  <div class="row">
    <div
      class="col-12 col-md-3 d-flex justify-content-center align-items-center"
    >
      <a
        href="https://buy.stripe.com/test_eVa00P9586ARawo4gm"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Gift Card"
      >
        <Image
          src={giftCard}
          format="webp"
          width={255}
          height={170}
          alt="Gift Card"
        />
      </a>
    </div>
    <div class="col-12 col-md-9 row">
      <div
        class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center align-items-center pt-3"
      >
        <a
          href="https://buy.stripe.com/test_eVa00P9586ARawo4gm"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Gift Card $100"
        >
          <Image
            src={gc100}
            format="webp"
            width={150}
            height={50}
            alt="Gift Card $100"
          />
        </a>
      </div>
      <div
        class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center align-items-center pt-3"
      >
        <a
          href="https://buy.stripe.com/test_9AQbJx6X0f7n5c4fZ6"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Gift Card $200"
        >
          <Image
            src={gc200}
            format="webp"
            width={150}
            height={50}
            alt="Gift Card $200"
          />
        </a>
      </div>
      <div
        class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center align-items-center pt-3"
      >
        <a
          href="https://buy.stripe.com/test_aEUfZN5SW2kB0VOdQZ"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Gift Card $300"
        >
          <Image
            src={gc300}
            format="webp"
            width={150}
            height={50}
            alt="Gift Card $300"
          />
        </a>
      </div>
      <div
        class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center align-items-center pt-3"
      >
        <a
          href="https://buy.stripe.com/test_14kbJxchk5wN1ZScMT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Gift Card $400"
        >
          <Image
            src={gc400}
            format="webp"
            width={150}
            height={50}
            alt="Gift Card $400"
          />
        </a>
      </div>
    </div>
  </div>
</section>
